[data-md-color-primary="white"] {
    --ukhsa-teal: #007C91;
    --ukhsa-moonlight: #1D57A5;
    --md-typeset-a-color: var(--ukhsa-moonlight);
}

[data-md-color-accent=teal] {
    --ukhsa-teal: #007C91;
    --md-accent-fg-color: var(--ukhsa-teal);
    --md-accent-fg-color--transparent: #007C911a;
}